.features{
    @include flex(column, center, space-between);
    padding-top: 9rem;
    margin-top: 3rem;
    padding-bottom: 18rem;
    background-color: #fff !important;

   .feature{
        @include flex(row, center, space-around);
        gap: 8rem;
        padding: 5rem 7rem;
        margin: 0 3rem;
        &__text{


            h3{
                font-family: $font-headings;
                font-size: 1.7rem;
                color: $VeryDarkCyan;
            }

            p{
                font-family: $font-body;
                font-size: 18px;
                color: $GrayishBlue;
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: $screen-md) {
    .features{
        padding-bottom: 28rem;
        .feature{
            &:nth-child(odd){
                @include flex(column-reverse, center, space-around);
                padding: 5rem 6rem;
            }
            &:nth-child(even){
                @include flex(column, center, space-around);
                padding: 5rem 6rem;
            }
            &__text{
                h3{
                    font-size: 2.5rem;
                    text-align: center;
                }
                p{
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: $screen-sm) {
    .features{
        margin-top: 0;
        padding: 0;
        padding-bottom: 13rem;
        .feature{
            &:nth-child(odd){
                @include flex(column-reverse, center, space-around);
                padding: 2rem 3rem;
                margin: 0;
            }
            &:nth-child(even){
                @include flex(column, center, space-around);
                padding: 2rem 3rem;
                margin: 0;
            }
            &__text{
                h3{
                    font-size: 2rem
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
}